<b><font font color="red" >ch03. 데이터 구조</font><b>

# 1절. 리스트

## 1.1 리스트 만들기
- [] 를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있음. list()함수 이용도 가능.
- 인덱스 : 각 요소의 위치, 인덱스는 0부터 시작, 맨 마지막 인덱스는 -1
- 슬라이싱 : 부분 데이터셋을 뽑아 내는 것. 인덱스를 이용해서 쓰기와 읽기를 지원

In [17]:
fruits = ['banana', 'apple', 'orange','grape']
type(fruits)

list

In [18]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [19]:
print(fruits[0])

banana

In [20]:
for fruit in fruits:
    print(fruit)

banana
apple
orange
grape

In [21]:
# range(from, to ,by) ; from 부터 to바로 앞까지 by 씩 증가되면서 만들어진 list
    #from 생략시 0부터 / by 생략시 1씩
list(range(6))

[0, 1, 2, 3, 4, 5]

In [22]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [23]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [12]:
for i in range(5):
    print(i, end='\t')

0	1	2	3	4

In [24]:
# 0번째 : banana ... len(fruits):fruits 요소의 갯수
for idx in range(len(fruits)):
    print('{}번째 : {}'.format(idx, fruits[idx]))

0번째 : banana
1번째 : apple
2번째 : orange
3번째 : grape

In [25]:
numbers = [1,2,3,True, '5']

In [26]:
numbers

[1, 2, 3, True, '5']

In [28]:
# 2차원 리스트.
numbers_2d = [[1,2,3,4,5],[10,20,30,40,50],[1,3,5,7,9],[2,4,6,8,10]]
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [32]:
numbers_2d[1][0] #1번째 방에서 인덱스 0 출력.

10

In [33]:
for row in numbers_2d:
    print(row)

[1, 2, 3, 4, 5]
[10, 20, 30, 40, 50]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [34]:
for row in numbers_2d:
    for data in row:
        print(data, end='\t')
    print() #개행.

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [35]:
for i in range(len(numbers_2d)):  #len(numbers_2d)=4
    print(i)

0
1
2
3

In [44]:
for i in range(len(numbers_2d)):  #len(numbers_2d)=4
    for j in range(len(numbers_2d[i])):
        print("{}행{}열 : {:>2}".format(i, j, numbers_2d[i][j]), end='\t')
    print()

0행0열 :  1	0행1열 :  2	0행2열 :  3	0행3열 :  4	0행4열 :  5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 :  1	2행1열 :  3	2행2열 :  5	2행3열 :  7	2행4열 :  9
3행0열 :  2	3행1열 :  4	3행2열 :  6	3행3열 :  8	3행4열 : 10

## 1.2 기본 정보 조회

In [1]:
numbers = [1,2,3,4,5]
numbers_2d = [[1000, 2,3,4,5], [10,20,30,40,50],[1,3,5,7,9],[2,4,6,8,10]]

In [3]:
# 요소 수
print('numbers의 요소수 : ', len(numbers))
print('numbers_2d의 요소수 : ', len(numbers_2d))

numbers의 요소수 :  5
numbers_2d의 요소수 :  4

In [4]:
print('numbers_2d[0]의 요소 수 : ', len(numbers_2d[0]))

numbers_2d[0]의 요소 수 :  5

In [5]:
# 최솟값 : min, 최댓값 : max
min(numbers), max(numbers)

(1, 5)

In [7]:
# 2차원 리스트 에서 max()함수는 부분 리스트중 첫 요소가 가장 큰 값을 갖는 리스트 반환.
#                min()함수는 부분 리스트중 첫 요소가 가장 작은 값을 갖는 리스트 반환.
min(numbers_2d), max(numbers_2d) #1000을 100으로 바꾸면 100,2,3,4,5 가 나온다.

([1, 3, 5, 7, 9], [1000, 2, 3, 4, 5])

## 1.3 요소 추가

In [1]:
# + : 두 리스트를 연결
# * : 리스트를 곱한 수 만큼 반복.
# append() : 요소를 맨뒤에 추가.
# extend() : 리스트를 요소별로 맨위에 추가.
# insert() : 지정된 index 위치에 삽입.

In [10]:
numbers = [1,2,3,4,5]
numbers = numbers + numbers  # 리스트 연결
numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [11]:
numbers = [1,2,3]
print(numbers *3) # 리스트를 3번 반복.

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [12]:
print('ABC'*3)

ABCABCABC

In [13]:
# append() 함수 이용
numbers = [1,2,3]
numbers.append(4) #요소의 맨 뒤에 '4'를 추가.
numbers

[1, 2, 3, 4]

In [14]:
# extend()
numbers = [1,2,3]
num = [4,5,6]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [15]:
numbers.extend('Hello')
numbers

[1, 2, 3, 4, 5, 6, 'H', 'e', 'l', 'l', 'o']

In [17]:
# insert(idx, 추가할 내용) : idx번째 인덱스에 추가할 내용 삽입.
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱

- count() : 리스트에서 데이터의 갯수 반환.
- index() : 해당 요소의 위치 반환.
- [idex] : 인덱스를 이용한 접근.

In [18]:
numbers = [1,2,3, [1,2,3], 1,2,3] # 1,2,3, 리스트, 1,2,3
numbers_2d = [[1,2,3],[1,2,3]]  #리스트 리스트
print(numbers)
print(numbers_2d)

[1, 2, 3, [1, 2, 3], 1, 2, 3]
[[1, 2, 3], [1, 2, 3]]

In [20]:
numbers.count(2) #2가 몇개 있는지.

2

In [22]:
numbers.count(9) #없는건 0으로 나온다.

0

In [23]:
numbers.count([1,2,3])

1

In [24]:
numbers_2d.count(2)

0

In [25]:
numbers_2d.count([1,2,3])

2

In [26]:
#0번째 인덱스 부터 처음 나오는 2의 인덱스(위치)  numbers = [1,2,3, [1,2,3], 1,2,3]  0부터 .
numbers.index(2)

1

In [28]:
numbers.index(2, 4) #4번째 인덱스 이후부터 나오는 2의 인덱스

5

In [30]:
print(numbers.count(9)) # 없으니까 0으로 나옴.
print(numbers.index(9)) #index함수는 없는값을 찾으면 에러.

0

ValueError: 9 is not in list

In [31]:
numbers[7] #인데스의 범위를 벗어나면 에러가 나온다.

IndexError: list index out of range

## 1.5 원하는 리스트 내용만 추출.  리스트 슬라이싱 - 인덱스보다 많이 사용함.

- [from : to - by]: from 부터 to 바로 앞까지 by 번 증가하는 index 아이템 추출.
                    from,to,by 생략 가능.
                    인덱스는 음수 가능.

In [32]:
numbers = [1,2,3,4,5]

In [33]:
# 2부터 9번 인덱스 바로 앞까지 출력.(해당 인덱스가 없을경우 끝까지 출력.)
numbers[2:9]  #슬라이싱 을 했을때 에러 안뜸.

[3, 4, 5]

In [35]:
numbers[::-1]

[5, 4, 3, 2, 1]

In [36]:
numbers[::]

[1, 2, 3, 4, 5]

In [37]:
numbers[-5:-1]

[1, 2, 3, 4]

In [39]:
numbers[-1:-5] #맨끝부터 -5바로 전까지 (by)1씩 인덱스를 전진하며 엑세스
#결과값은 나오지 않는다.

[]

In [40]:
numbers_2d = [[1,2,3], [10,20,30],[11,12,13],[21,22,23]]
numbers_2d[1:3]

[[10, 20, 30], [11, 12, 13]]

In [41]:
numbers_2d[0][1:3]

[2, 3]

In [42]:
# 람다식을 이용해서 List 의 원하는 데이터 엑세스

In [43]:
numbers = [1,3,5,9,10,12,13,18,19,20]
# 모든 데이터 다 가져오기
for data in numbers:
    print(data)

1
3
5
9
10
12
13
18
19
20

In [44]:
numbers = [1,3,5,9,10,12,13,18,19,20]
# 모든 데이터 다 가져오기
#for data in numbers:
#    print(data) 다른 출력문.
[data for data in numbers] #데이터를 가져와서 리스트타입으로 구현.

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [45]:
# 짝수 데이터만 가져오기.
#for x in numbers:
#    if x%2 == 0:
#        print(x) 대신 한줄로.

[x for x in numbers if x%2 == 0 ]

[10, 12, 18, 20]

In [47]:
# 10 이상의 데이터만 가져오기.
[y for y in numbers if y >= 10]

[10, 12, 13, 18, 19, 20]

In [3]:
# 과일의 글씨가 5글자 이상인 과일만 추출.
fruits = ['orange','apple','mango','kiwi']
[x for x in fruits if len(x) >= 5 ]

['orange', 'apple', 'mango']

In [4]:
# 리스트 값의 제곱을 추출하라
L = [1,2,3,4,5]
[x**2 for x in L]

[1, 4, 9, 16, 25]

In [5]:
# 리스트 값의 세제곱을 추출하라
L = [1,2,3,4,5]
[x**3 for x in L]

[1, 8, 27, 64, 125]

In [6]:
#리스트 값의 두배의 수를 추출하라.
L = [1,2,3,4,5]
[x*2 for x in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

In [1]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# 부분리스트를 통째로 바꿈(by없이 슬라이싱)
numbers[0:5]=[111,111,111,111,111,111,111] 
numbers

[111, 111, 111, 111, 111, 111, 111, 5, 6, 7, 8, 9]

In [4]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[0:5] = numbers[5:]
numbers

[5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [5]:
# 슬라이싱에서 by를 추가
numbers = [0]*10
print('수정전 :', numbers)
numbers[::2] = [99,99,99,99,99]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [99, 0, 99, 0, 99, 0, 99, 0, 99, 0]

In [ ]:
# 슬라이싱에서 by가 포함될 경우 바꾸려는 값의 갯수가 맞아야 함
numbers[::2] = [11,11,11]

## 1.7 삭제하기
- pop() : 가장 마지막 요소가 반환되고 삭제. pop(n) : n번째 요소가 반환되고 삭제
- remove() : remove(data) 해당 데이터가 삭제
- del xx[n

In [6]:
numbers = [0,1,2,3,4,5,6,7,8,9]
print(numbers)
print(numbers.pop())
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
print(numbers.pop(2))
print(numbers)

2
[0, 1, 3, 4, 5, 6, 7, 8]

In [8]:
numbers_2d = [[1,2,3],[10,20,30],[100,100,100]]
print('pop전 ', numbers_2d)
print(numbers_2d.pop())
print('pop후 ', numbers_2d)

pop전  [[1, 2, 3], [10, 20, 30], [100, 100, 100]]
[100, 100, 100]
pop후  [[1, 2, 3], [10, 20, 30]]

In [9]:
numbers = [0, 1, 3, 4, 5, 6, 7, 8, 9]
print(numbers.remove(5)) # remove는 반환값이 없음
print(numbers)

None
[0, 1, 3, 4, 6, 7, 8, 9]

In [10]:
numbers.remove(99) # 없는 값을 remove할 경우 error

ValueError: list.remove(x): x not in list

In [11]:
print(numbers)
del numbers[2] # 변수 삭제
print(numbers)

[0, 1, 3, 4, 6, 7, 8, 9]
[0, 1, 4, 6, 7, 8, 9]

In [12]:
del numbers
numbers

NameError: name 'numbers' is not defined

In [13]:
numbers = [0,1,2,3,4]
print('clear전 :',numbers)
numbers.clear()
#del numbers[:]
print('clear후 :',numbers)

clear전 : [0, 1, 2, 3, 4]
clear후 : []

## 1.8 정렬하기

In [14]:
numbers = [9,5,1,0,6,4,2,8]
numbers.sort() # 기본 정렬 오름차순. sort()실행 후 리스트가 바뀜
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [15]:
numbers = [9,5,1,0,6,4,2,8]
numbers.sort() # 기본 정렬 오름차순. sort()실행 후 리스트가 바뀜
numbers[::-1] # 내림차순처럼 보이나 numbers 내림차순으로 정렬된 것이 저장되지 않음

[9, 8, 6, 5, 4, 2, 1, 0]

In [16]:
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [17]:
numbers.sort(reverse=True) # 내림차순 정렬. 리스트 내용도 적용
numbers

[9, 8, 6, 5, 4, 2, 1, 0]

In [18]:
numbers.reverse() # 리스트를 역순으로 변경
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [19]:
numbers = numbers[::-1] # reverse()함수와 같은 명령
numbers

[9, 8, 6, 5, 4, 2, 1, 0]

## 1.9 리스트 복제

In [20]:
numbers = [6,2,7,4,10]
new_numbers = numbers # numbers에 있는 주소값이  new_numbers로
numbers.sort()   # numbers는 정렬된 데이터로
print('정렬전 데이터 :', new_numbers)
print('정렬후 데이터 :', numbers)
print('new_numbers 주소 :',id(new_numbers))
print('numbers 주소 :',id(numbers))

정렬전 데이터 : [2, 4, 6, 7, 10]
정렬후 데이터 : [2, 4, 6, 7, 10]
new_numbers 주소 : 2106408181696
numbers 주소 : 2106408181696

In [21]:
# 복제
numbers = [6,2,7,4,10]
new_numbers = numbers.copy() # new_number에 number 데이터를 복제
numbers.sort()
print('정렬전 :',new_numbers)
print('정렬후 :',numbers)
print('new_numbers 주소 :',id(new_numbers))
print('numbers 주소 :',id(numbers))

정렬전 : [6, 2, 7, 4, 10]
정렬후 : [2, 4, 6, 7, 10]
new_numbers 주소 : 2106406189824
numbers 주소 : 2106407192192

In [22]:
city = ['서울','부산','대구','인천','광주','울산']
city.sort()
city

['광주', '대구', '부산', '서울', '울산', '인천']

In [23]:
' '.join(city)

'광주 대구 부산 서울 울산 인천'

# 2. 튜플

- 리스트와 유사하지만, 읽기 전용. 수정이 필요없는 데이터타입에서 사용
- 수정이 불가하므로 튜플에 데이터 추가, 수정, 삭제 불가. 제공되는 함수도 많지 않음
- ()이용해서 생성.

In [24]:
city = ('서울','부산','인천','대구','대전')
type(city)

tuple

In [25]:
'-'.join(city)

'서울-부산-인천-대구-대전'

In [26]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l))
print(l)

<class 'list'>
['서울']

In [27]:
city = ('서울') #요소가 하나 있는 튜플 (x)
print(type(city))
print(city)

<class 'str'>
서울

In [28]:
city = ('서울',) #요소가 하나 있는 튜플
print(type(city), len(city))
print(city)

<class 'tuple'> 1
('서울',)

In [29]:
numbers = 1,2,3 # 여러개 값이 나열될 때는 자동적으로 튜플로 처리
type(numbers)

tuple

In [30]:
# 수정하기 위한 모든 기능들이 제한
numbers.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [31]:
min(numbers), max(numbers), len(numbers)

(1, 3, 3)

In [32]:
numbers = (1,2,1,2,3)
numbers.count(2)

2

In [33]:
numbers.index(3) # 3인덱스의 값을 반환

4

In [34]:
data = (0,1,2,3,4,(5,6))
data[2:5]

(2, 3, 4)

In [35]:
data[::-1]

((5, 6), 4, 3, 2, 1, 0)

In [36]:
data.index(9)

ValueError: tuple.index(x): x not in tuple

In [37]:
data[5:9:2]

((5, 6),)

In [38]:
data[-1:-5:-1]

((5, 6), 4, 3, 2)

In [39]:
data = ((100,0,0),(10,20,30))
max(data), min(data), len(data)

((100, 0, 0), (10, 20, 30), 2)

In [40]:
data = (1,2,3)
data + data

(1, 2, 3, 1, 2, 3)

In [41]:
data = ('서울',2,True)
data * 3

('서울', 2, True, '서울', 2, True, '서울', 2, True)

In [42]:
del data

# 3절. 딕셔너리(자바에서의 hashMap)
- 중괄호({})를 이용해서 딕셔너리 생성. 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값(중복허용안함). 키에 리스트는 사용 불가. 키에 튜플은 사용가능.
- 값은 중복 가능. 모든 데이터 타입이 가능
- 없는 키의 값을 참조하면 에러 발생
- 인덱스를 이용한 참조는 지원 안함

In [43]:
dic = {'key1':'value', 'key2':'value'}

In [44]:
len(dic) # 데이터 구조의 요소의 갯수

2

In [45]:
my_favorite = {'fruit':'apple', 'number':1, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 1, 'sport': 'golf'}

In [46]:
my_favorite.get('fruit')

'apple'

In [47]:
my_favorite['fruit']

'apple'

In [48]:
my_favorite['people'] # 키목록에 없는 데이터 참조시 에러

KeyError: 'people'

In [49]:
my_favorite[0] # 인덱스를 이용한 참조는 지원 안 함

KeyError: 0

In [50]:
my_favorite = {'fruit':'apple', 'number':1, 'sport':'golf'}
my_favorite['fruit'] = 'banana'
my_favorite

{'fruit': 'banana', 'number': 1, 'sport': 'golf'}

In [51]:
# 키 : 문자, 숫자, 튜플. 중복불가
# 값 : 모든 문자 타입. 중복 가능
my_dic1 = {1:'Hello', 2:'World', 2:'Python'}
my_dic1

{1: 'Hello', 2: 'Python'}

In [52]:
del my_dic1['study']
my_dic1

KeyError: 'study'

In [53]:
my_dic2 = {'name':'Hong', 'name':'KilDong', 'age':30}
my_dic2

{'name': 'KilDong', 'age': 30}

In [54]:
# 키목록에 True와 1은 같은 키으로 간주. False와 0은 같은 키로 간주
my_dic3 = {1:'Hello', True:'World', False:'Python', 0:'Hadoop'}
my_dic3

{1: 'World', False: 'Hadoop'}

In [55]:
my_list = ['홍길동',25,'010-9999-9999']
my_tupple = ('홍길동',25,'010-9999-9999')
for data in my_tupple:
    print(data, end='\t')
print() # 개행
for idx in range(len(my_list)):
    print("{}번째 데이터 {}".format(idx, my_tupple[idx]) , end='\t')

홍길동	25	010-9999-9999
0번째 데이터 홍길동	1번째 데이터 25	2번째 데이터 010-9999-9999

In [56]:
my_dic = {'name':'홍길동','age':25, 'tel':'010-9999-9999'}
for data in my_dic:
    print(data, end='\t')

name	age	tel

In [57]:
my_dic.keys() # 키목록

dict_keys(['name', 'age', 'tel'])

In [58]:
my_dic.values() # 값들만

dict_values(['홍길동', 25, '010-9999-9999'])

In [59]:
my_dic.items() # 튜플로 이루어진 (키,값) 들

dict_items([('name', '홍길동'), ('age', 25), ('tel', '010-9999-9999')])

In [60]:
for key in my_dic:
    print(key, end='\t')

name	age	tel

In [61]:
for key in my_dic.keys():
    print(key, end='\t')

name	age	tel

In [62]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	25	010-9999-9999

In [63]:
for item in my_dic.items():
    print(item)

('name', '홍길동')
('age', 25)
('tel', '010-9999-9999')

In [64]:
for key, value in my_dic.items():
    print("{}은 {}.".format(key, value), end='\t')

name은 홍길동.	age은 25.	tel은 010-9999-9999.

in 연산자 : 키가 있는지 여부

In [65]:
my_favorite = {'fruit':'apple','number':1, 'sport':'golf'}
'golf' in my_favorite

False

In [66]:
'sport' in my_favorite

True

In [67]:
my_favorite
# 할당
new_my_favorite = my_favorite
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)

new_my_favorite :  {'fruit': 'apple', 'number': 1, 'sport': 'golf'}
my_favorite :  {'fruit': 'apple', 'number': 1, 'sport': 'golf'}

In [68]:
my_favorite['number'] = '다 좋아'
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)
print('new_my_favorite 주소 :', id(new_my_favorite))
print('my_favorite 주소 :', id(my_favorite))

new_my_favorite :  {'fruit': 'apple', 'number': '다 좋아', 'sport': 'golf'}
my_favorite :  {'fruit': 'apple', 'number': '다 좋아', 'sport': 'golf'}
new_my_favorite 주소 : 2106408452416
my_favorite 주소 : 2106408452416

In [69]:
my_favorite
# 복제
new_my_favorite = my_favorite.copy()
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)

new_my_favorite :  {'fruit': 'apple', 'number': '다 좋아', 'sport': 'golf'}
my_favorite :  {'fruit': 'apple', 'number': '다 좋아', 'sport': 'golf'}

In [70]:
my_favorite['number'] = 9
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)
print('new_my_favorite 주소 :', id(new_my_favorite))
print('my_favorite 주소 :', id(my_favorite))

new_my_favorite :  {'fruit': 'apple', 'number': '다 좋아', 'sport': 'golf'}
my_favorite :  {'fruit': 'apple', 'number': 9, 'sport': 'golf'}
new_my_favorite 주소 : 2106407543808
my_favorite 주소 : 2106408452416

# 4절. 셋

- 중복 허용하지 않는 집합(순서X)
- 중괄호({})나 set()함수를 이용해서 셋 생성 ; set(딕셔너리타입의변수) : 딕셔너리변수의 키만 셋에 추가
- 집합연산자 (&:교집합 , |:합집합, - :차집합)

In [71]:
fruits = {'apple','orange','banana','banana'}
fruits

{'apple', 'banana', 'orange'}

In [72]:
s1 = set([1,2,3,1])
s1

{1, 2, 3}

In [73]:
s1.add(4)
s1.add(1)
s1

{1, 2, 3, 4}

In [74]:
s1.add( (5,6,7,8,9) )
s1

{(5, 6, 7, 8, 9), 1, 2, 3, 4}

In [75]:
s1.add( [10,11] ) # add함수는 list인수 불가

TypeError: unhashable type: 'list'

In [76]:
s1.add({'name':'Kil'}) # add함수는 dictonary 인수 불가

TypeError: unhashable type: 'dict'

In [77]:
s1 = {1,2,3,4}
s1.update([5,6,7,8,9])
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [78]:
s1.update({'name':'kildong'}) # 딕셔너리는 키값만 추가
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'name'}

In [79]:
s1.remove('name') # 특정 요소 삭제(없는 데이터일 경우 에러)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [80]:
s1.remove('name')

KeyError: 'name'

In [81]:
s1 = {0, False, True, 1} # False와 0, True와 1을 같은 값으로 간주
s1

{0, True}

In [82]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}
s1, s2

({1, 2, 3, 4, 5, 6}, {4, 5, 6, 7, 8, 9})

In [83]:
# 합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [84]:
# 교집합
s1 & s2

{4, 5, 6}

In [85]:
# 차집합
s1 - s2

{1, 2, 3}

In [86]:
names = {'kildong','kilja','sunja'}
for name in names:
    print(name, end='\t')

sunja	kilja	kildong

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 인덱스 처리를 해결

In [87]:
list(enumerate(names))

[(0, 'sunja'), (1, 'kilja'), (2, 'kildong')]

In [88]:
for idx, name in enumerate(names):
    print("{}번째 이름 : {}".format(idx, name))

0번째 이름 : sunja
1번째 이름 : kilja
2번째 이름 : kildong

In [89]:
L = ['길자','순자','길동']
for idx in range(len(L)):
    print("{}번째 : {}".format(idx, L[idx]))

0번째 : 길자
1번째 : 순자
2번째 : 길동

In [90]:
for idx, name in enumerate(L):
    print("{}번째 : {}".format(idx, name))

0번째 : 길자
1번째 : 순자
2번째 : 길동

In [91]:
dic = {"name":"홍길동","age":35, "address":"마포"}
list(enumerate(dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 35)), (2, ('address', '마포'))]

In [92]:
for idx, (key, value) in enumerate(dic.items()):
    print("{}번째 키는 {}, 값은 {}".format(idx, key, value))

0번째 키는 name, 값은 홍길동
1번째 키는 age, 값은 35
2번째 키는 address, 값은 마포

# 6절. 연습문제

In [93]:
# 1.
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
print('1번 결과 :',numbers)
# 2.
data = [200,300,400,500]
numbers.extend(data)
print('2번 결과 :',numbers)
# 3.
numbers[:5]
print('3번 결과 :',numbers)
# 4.
print('4번 결과 :', numbers[::2])
#5
numbers[::2] = [0] * len(numbers[::2])
print('5번 후 결과 :', numbers)
# 6. 데이터를 역순으로 나열
print('6번 결과 :', numbers[::-1])

1번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
2번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
3번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
4번 결과 : [1, 3, 5, 7, 9, 100, 300, 500]
5번 후 결과 : [0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]
6번 결과 : [0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [94]:
# 7.
member = {'name':"홍길동","age":20,"address":"서울시 마포구", 'score':90}
print(member['address'])
print(member.get('address'))

서울시 마포구
서울시 마포구

In [95]:
# 8 score를 출력하고 딕셔너리에서 삭제 방법1
member.pop('score')
print('8번에서 score삭제 확인 :', member)
# 8 score를 출력하고 딕셔너리에서 삭제 방법2
member = {'name':"홍길동","age":20,"address":"서울시 마포구", 'score':90}
print(member['score'])
del member['score']
print('8번에서 score삭제 확인 :', member)

8번에서 score삭제 확인 : {'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}
90
8번에서 score삭제 확인 : {'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [96]:
#9. address변경
member['address'] ='서울시 서대문구'
print('9번 확인 :', member)

# 10 데이터 값만 리스트로 출력
list(member.values())

9번 확인 : {'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

['홍길동', 20, '서울시 서대문구']

In [97]:
# 서술형 연습문제 1
L1 = ("orange","apple","banana","kiwi")
new_list = [i for i in L1 if len(i)>5]
print(new_list)

['orange', 'banana']

In [98]:
# 4
numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [99]:
# 5
numbers = list(range(10))
numbers[ : : 2]= [0] * len(numbers[ : : 2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [100]:
# 6. 
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2] = numbers[5:]
numbers

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [101]:
# 8
my_dic = {"a":10, "b":20, "c":30}
print(my_dic['a'])
print(list(my_dic.items())[0][1])
print(list(my_dic.values())[0])
print(my_dic.get('a'))

10
10
10
10