**<b><font color="red">ch09. 파일 i/o 프로그래밍</font><b>**

# 1절. 파일에 데이터 저장하고 불러오기

In [11]:
f = open('data/ch09.sample.txt', 'w') #기본값은 , 'r' (읽기모드)
print(f.writable()) # 가능한지 확인.

True

In [12]:
f.write('Hello\nWorld\nHello\nPython') #이것만 해봤자 저장이 안된다.

24

In [13]:
f.close() #그래서 close() 를 해줘야한다.

In [14]:
# 따라서 with 구문을 이용하면 파일을 열어 사용한 후 매번 닫아주는 코드를 작성하지 않아도 됨
with open('data/ch09.sample.txt', 'w') as f: # 'w' 전에있던 내용에 덮어씌워지기때문에 조심.
    print(f.writable())
    f.write('Python is easy.\nPython is smart.')

True

In [15]:
with open('data/ch09.sample.txt', 'a') as f: # 'a' 기존 내용 다음에 내용이 추가가 된다.
    print("print 함수로 파일 쓰기가 가능합니다.", file = f) #end='\n'(기본값) 포함해서.

In [16]:
with open('data/ch09.sample.txt', 'a') as f:
    f.write('1.방법. Hello\nWorld\n')
    textlist = ['Python is easy.','R is easy.','Java is easy.']
    f.write('2.방법. ')
    for line in textlist:
        f.write(line+'\n')
    f.write('3.방법. ')
    f.writelines(textlist)

In [17]:
#txtfile 는 내가 지정한 변수라 변수이름은 자유롭게.
with open('data/ch09.sample.txt', 'r') as txtfile:
    lines = txtfile.readlines() #한번에 모든 txt내용 읽기.
    print(lines)

['Python is easy.\n', 'Python is smart.print 함수로 파일 쓰기가 가능합니다.\n', '1.방법. Hello\n', 'World\n', '2.방법. Python is easy.\n', 'R is easy.\n', 'Java is easy.\n', '3.방법. Python is easy.R is easy.Java is easy.']

In [18]:
with open('data/ch09.sample.txt', 'r') as f:
    lines = f.readlines() # 파일을 통채로 읽어서 한줄씩 출력.
    for line in lines:
        #print(line, end='') 아래방법이나 이 방법이나 결과는 같다.
        print(line.strip()) # \n 삭제

Python is easy.
Python is smart.print 함수로 파일 쓰기가 가능합니다.
1.방법. Hello
World
2.방법. Python is easy.
R is easy.
Java is easy.
3.방법. Python is easy.R is easy.Java is easy.

In [19]:
# 파일을 한줄 읽고, 한줄 출력하고를 반복을 끝날때 까지 하는.
with open('data/ch09.sample.txt', 'r') as f:
    line = f.readline() # 파일을 한줄 읽고, 한줄 출력
    while line != '': #line 이 빈스트링이 아닐때까지~
        print(line, end='') # 출력.
#        print(line.strip()) # \n 삭제
        line = f.readline()

Python is easy.
Python is smart.print 함수로 파일 쓰기가 가능합니다.
1.방법. Hello
World
2.방법. Python is easy.
R is easy.
Java is easy.
3.방법. Python is easy.R is easy.Java is easy.

# 2절. 피클을 이용한 객체 저장 및 불러오기

# 2.1 형식이 있는 텍스트 데이터

In [21]:
#encoding = 'UTF8' 한글깨짐 방지.
with open('data/ch09.member.txt', 'r', encoding = 'UTF8') as f: 
    lines = f.readlines()
    for line in lines:
        data = line.strip().split(',')
        name = data[0]
        age = int(data[1].strip())
        email = data[2].strip()
        address = data[3].strip()
        print("이름:{}\t나이:{}\t메일:{}\t주소:{}".format(name, age, email, address))

이름:홍길동	나이:20	메일:kildong@tjoeun.co.kr	주소:서울시 강동구
이름:홍길순	나이:22	메일:kilsun@tjoeun.co.kr	주소:서울시 마포구

# 2.2 피클링 
- 파일을 가져와서 객체에 담는것.

In [22]:
class Memder:
    def __init__(self,name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return "이름:{}\t나이:{}\t메일:{}\t주소:{}".format(self.name, self.age, 
                                                  self.email, self.address)

In [23]:
user1 = Memder("홍길동", 20, "hong@hong.com","서울")
user2 = Memder("김길동", 30, "hong@hong.com","부산")
user3 = Memder("박길동", 40, "hong@hong.com","창원")
user_list = [user1,user2,user3]

In [24]:
for user in user_list:
    print(user)

이름:홍길동	나이:20	메일:hong@hong.com	주소:서울
이름:김길동	나이:30	메일:hong@hong.com	주소:부산
이름:박길동	나이:40	메일:hong@hong.com	주소:창원

In [25]:
with open('data/ch09.member.data','wb') as f: #피클링은 항상 이렇게 사용.(메모장으로 확인불가)
    import pickle
    pickle.dump(user_list,f)

In [36]:
with open('data/ch09.member.data','rb') as f:
    ul = pickle.load(f)

In [37]:
for user in ul:
    print(user)

이름:홍길동	나이:20	메일:hong@hong.com	주소:서울
이름:김길동	나이:30	메일:hong@hong.com	주소:부산
이름:박길동	나이:40	메일:hong@hong.com	주소:창원

### 3절. csv형식 파일 읽기/쓰기

3.1 reader

In [2]:
# UTF8 로 인코딩된 csv 파일 read
import csv
with open('data/ch09.member1.csv','r',encoding='UTF8') as f:
    reader = csv.reader(f)
   # print(list(reader)) # 리스트 타입으로 들어옴.
   # print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
   # print(list(reader)) # 다시 뿌리면 아무것도 안나온다. 이유: 커서가 파일의 끝을 가리키고 있기때문.
    for row in reader:
        print(row)

['홍길동', '20', 'kildong@hong.com', '서울시강동구']
['윤길동', '30', 'yunkil@hong.com', '서울시강서구']
['홍길가', '25', 'hongka@hong.com', '서울시마포구']

In [3]:
# CP949로 인코딩 된 csv 파일 read(ch09.member1-1.csv)
import csv
with open('data/ch09.member1-1.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(' - '.join(row))

마길동 - 20 - ma@hong.com - 광주
석길동 - 25 - suk@hong.com - 인천
유길동 - 30 - yu@hong.com - 부산

In [12]:
# numeric엔 따옴표를 뺌.
with open('data/ch09.member1.csv', encoding='utf8') as f: # 'r' 생략가능
    reader = csv.reader(f, quotechar = '"', quoting = csv.QUOTE_NONNUMERIC)
    for row in reader:
        print(row)

['홍길동', 20.0, 'kildong@hong.com', '서울시강동구']
['윤길동', 30.0, 'yunkil@hong.com', '서울시강서구']
['홍길가', 25.0, 'hongka@hong.com', '서울시마포구']

## 3.2 writer

In [6]:
user_list = [['홍길동', 20, 'hong@hong.com','서울'],
             ['마길동',25,'ma@hong.com','인천']]

In [7]:
# newline ='' 옵션을 빼면 개행 2번.
try: # encoding='utf8' 빼면 CP949로 된다.
    with open('data/ch09.member2.csv','w', newline='', encoding='utf8') as f:
        writer = csv.writer(f)
        for user in user_list:
            writer.writerow(user)
except FileNotFoundError as e:
    print(e)

In [10]:
# 숫자만 따옴표 안붙고, 문자엔 따옴표가 붙게 csv write newline='\n' 이 기본값.
with open('data/ch09.member2-1.csv', 'w',newline='', encoding='CP949') as f:
    writer = csv.writer(f, quoting = csv.QUOTE_NONNUMERIC)
    writer.writerows(user_list) #writerows 한번에 들어간다. 
    # 쥬피터 노트북에서 안열린다.

## 3.3 DictReader
- csv 파일의 자료를 딕셔너리 데이터로 읽기

In [14]:
# header 가 있는 csv 파일을 딕셔너리데이터로 읽기.
import csv
with open('data/ch09.member3.csv','r', encoding='utf8') as f:
    dict_reader = csv.DictReader(f)
#    print(list(dict_reader))
    for row in dict_reader:
        print(row['name'],row['age'],row['email'],row['address'])

홍길동 20 kildong@hong.com 서울
윤석동 23 yun@hong.com 인천
마동길 22 ma@hong.com 안양

In [16]:
# header 가 없는 csv 파일을 딕셔너리 데이터로 읽기
# 해당 파일이 쥬피터 노트북으로 열리면 utf8 코드 임. 그래서 인코딩을 cp949로 바꿔준다.
with open('data/ch09.member1-1.csv', 'r', encoding='CP949') as f:
    dict_reader = csv.DictReader(f , fieldnames=['Name','Age','Email','Address'])
    for row in dict_reader: # fieldnames 의 변수명을 아래에도 같게 해야한다.
        print(row['Name'],row['Age'],row['Email'],row['Address'])

마길동 20 ma@hong.com 광주
석길동 25 suk@hong.com 인천
유길동 30 yu@hong.com 부산

In [17]:
# 현 행에 팀장 표시 추가. header 가 없는 경우
with open('data/ch09.member1-1.csv', 'r', encoding='CP949') as f:
    dict_reader = csv.DictReader(f , fieldnames=['Name','Age','Email','Address','job'])
    for row in dict_reader: # fieldnames 의 변수명을 아래에도 같게 해야한다.
        print(row['Name'],row['Age'],row['Email'],row['Address'],row['job'])

마길동 20 ma@hong.com 광주
석길동 25 suk@hong.com 인천 팀장
유길동 30 yu@hong.com 부산

In [30]:
# 현 행에 팀장 표시 추가. header 가 없는 경우  (member1-1.csv)
with open('data/ch09.member1-1.csv', 'r') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address'],
                                 restkey='job')
    for row in dict_reader:
        if row['job'][0] == '':
            print(row['Name'],row['Age'],row['Email'],row['Address'])
        else:
            print(row['Name'],row['Age'],row['Email'],row['Address'],row['job'])

마길동 20 ma@hong.com 광주
석길동 25 suk@hong.com 인천 ['팀장']
유길동 30 yu@hong.com 부산

In [33]:
# 현 행에 팀장 표시 추가. header 가 있는 경우  (member3.csv)
with open('data/ch09.member3.csv', 'r', encoding='utf8') as f:
    dict_reader = csv.DictReader(f, restval='')
    for row in dict_reader:
        print(row['name'],row['age'],row['email'],row['address'],row['job'])

홍길동 20 kildong@hong.com 서울
윤석동 23 yun@hong.com 인천 팀장
마동길 22 ma@hong.com 안양

## 3.4. DictWriter
- 딕셔너리 변수의 내용을 csv파일로 쓰기

In [34]:
user1 = {'name':'홍길동', 'age':20, 'email':'hong@hong.com','address':'서울'}
user2 = {'name':'마길동', 'age':30, 'email':'ma@hong.com','address':'광주'}
user3 = {'name':'윤선동', 'age':40, 'email':'yun@hong.com','address':'군산'}
user_list = [user1, user2, user3]
fieldnames = list(user1.keys()) # 해더로 쓸 내용 : ['name','age','email','address']

<pre>
csv 파일의 내용.
name,age,email,address
홍길동,20,hong@hong.com,서울
...</pre>

In [37]:
with open('data/ch09.member4.csv','w', encoding='utf8', newline='') as f:
    dict_writer = csv.DictWriter(f, fieldnames = fieldnames)
    dict_writer.writeheader() #header 부분 write.
   # dict_writer.writerheader(user1)  일일히 하나씩 하거나,
   # dict_writer.writerheader(user2)
   # dict_writer.writerheader(user3)
   # for user in  user_list: for문 또는,
   #     dict_writer.writerow(user)
    dict_writer.writerows(user_list)   # 한번에.

In [42]:
# 혹시나 하나가 다를때.
user1 = {'name':'홍길동', 'age':20, 'email':'hong@hong.com','address':'서울'}
user2 = {'name':'마길동', 'age':30, 'email':'ma@hong.com','address':'광주','job':'팀장'}
user3 = {'name':'윤선동', 'age':40, 'email':'yun@hong.com','address':'군산'}
user_list = [user1, user2, user3]
fieldnames = list(user1.keys()) # 해더로 쓸 내용 : ['name','age','email','address']
# fieldnames.append('job')

In [41]:
# extrasaction = 'ignore' => fieldnames필드에 없는거 무시하고 들어가라.
with open('data/ch09.member5.csv', 'w', encoding='utf8', newline='') as f:
    dict_writer = csv.DictWriter(f, fieldnames = fieldnames, 
                                 extrasaction = 'ignore') 
                                # extrasaction = 'raise') fieldnames 없는 필드면 예외발생.
    dict_writer.writeheader()
    dict_writer.writerows(user_list)

# 4절. JSON 데이터 저장하고 불러오기(dump, load)

### 4.1 JSON dump
<pre>
[
    {"location":"서울",
     "time":12,
     "temperature":2},
     {"location":"천안",
     "time":13,
     "temperature":2},
]
</pre>

In [44]:
data = [
    {"name":"홍길동",
     "age":20,
     "email":"hong@naver.com",
     "address":"서울"},
     {"name":"김말동",
     "age":25,
     "email":"kim@naver.com",
     "address":"천안"}
]

In [45]:
data

[{'name': '홍길동', 'age': 20, 'email': 'hong@naver.com', 'address': '서울'},
 {'name': '김말동', 'age': 25, 'email': 'kim@naver.com', 'address': '천안'}]

In [49]:
# 딕셔너리 list 를 json 파일로 저장한 경우.
# ensure_ascii=False 부분이 없으면 한글이 유니코드로 저장.
# indent='\t' 가독성을 높히기 위해.
import json
with open('data/ch09.member1.json','w') as jsonfile:
    json.dump(data, jsonfile, ensure_ascii=False, indent='\t')

In [ ]:
# Member 객체 리스트를 json 파일로 저장.

In [52]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def as_dict(self):
        return{"name":self.name, "age":self.age, "email":self.email, 
               "address":self.address}
    def __str__(self):
        return "{}\t{}\t{}\t{}".format(self.name, self.age, self.email, self.address)

In [56]:
member1 = Member("홍길동",20 , "hong@hong.com","서울")
member2 = Member("김길동",25,"kim@hong.com","파주")
member3 = Member("윤길동",25,"yun@hong.com","인천")
member_list = [member1,member2,member3]

In [58]:
with open('data/ch09.member2.json', 'w', encoding='utf8') as jsonfile:
    json.dump(member_list, jsonfile, ensure_ascii=False, indent= '\t',
             default=Member.as_dict)

In [62]:
#whos. 주피터 노트북 에서만 사용가능한 명령어.
# 주석과 같이 사용 불가하다.

In [61]:
whos

Variable          Type                          Data/Info
---------------------------------------------------------
Member            type                          <class '__main__.Member'>
NamespaceMagics   MetaHasTraits                 <class 'IPython.core.magi<...>mespace.NamespaceMagics'>
autopep8          module                        <module 'autopep8' from '<...>e-packages\\autopep8.py'>
csv               module                        <module 'csv' from 'C:\\U<...>\anaconda3\\lib\\csv.py'>
data              list                          n=2
dict_reader       DictReader                    <csv.DictReader object at 0x0000013E25BCAC10>
dict_writer       DictWriter                    <csv.DictWriter object at 0x0000013E2619B970>
f                 TextIOWrapper                 <_io.TextIOWrapper name='<...>mode='w' encoding='utf8'>
fieldnames        list                          n=4
get_ipython       function                      <function get_ipython at 0x0000013E20975040>
getsizeof         builtin_function_or_method    <built-in function getsizeof>
json              module                        <module 'json' from 'C:\\<...>\lib\\json\\__init__.py'>
jsonfile          TextIOWrapper                 <_io.TextIOWrapper name='<...>mode='w' encoding='utf8'>
member1           Member                        홍길동	20	hong@hong.com	서울
member2           Member                        김길동	25	kim@hong.com	파주
member3           Member                        윤길동	25	yun@hong.com	인천
member_list       list                          n=3
np                module                        <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
reader            reader                        <_csv.reader object at 0x0000013E25856F40>
row               dict                          n=5
user              dict                          n=4
user1             dict                          n=4
user2             dict                          n=5
user3             dict                          n=4
user_list         list                          n=3
var_dic_list      function                      <function var_dic_list at 0x0000013E24345B80>
writer            writer                        <_csv.writer object at 0x0000013E25A1B860>
yapf_reformat     function                      <function yapf_reformat at 0x0000013E22F4CC10>

In [64]:
del member1, member2, member3, member_list # 변수 삭제, 한번 더 하면 없는데 왜 삭제하냐는 에러.

NameError: name 'member1' is not defined

In [66]:
member_list # 확인.

NameError: name 'member_list' is not defined

## 4.2 JSON load

In [72]:
# json 파일을 딕셔너리 리스트 변수로 Load
with open('data/ch09.member2.json', 'r', encoding='utf8') as jsonfile:
    member_list= json.load(jsonfile)
    for row in member_list:
        print(row)

{'name': '홍길동', 'age': 20, 'email': 'hong@hong.com', 'address': '서울'}
{'name': '김길동', 'age': 25, 'email': 'kim@hong.com', 'address': '파주'}
{'name': '윤길동', 'age': 25, 'email': 'yun@hong.com', 'address': '인천'}

In [69]:
member_list # 기본타입이 딕셔너리 타입으로 들어옴.

[{'name': '홍길동', 'age': 20, 'email': 'hong@hong.com', 'address': '서울'},
 {'name': '김길동', 'age': 25, 'email': 'kim@hong.com', 'address': '파주'},
 {'name': '윤길동', 'age': 25, 'email': 'yun@hong.com', 'address': '인천'}]

In [71]:
type(member_list), type(member_list[0]) # 0번방의 타입?

(list, dict)

In [73]:
# json 파일을 객체 리스트 변수로 Load

In [78]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return "{}\t{}\t{}\t{}".format(self.name, self.age, self.email, self.address)

In [79]:
def as_member(dict):
    return Member(dict['name'],dict['age'],dict['email'],dict['address'])

In [80]:
m = {'name':'홍길동','age':20, 'email':'hong@hong.com','address':'서울'}

In [81]:
print(as_member(m))

홍길동	20	hong@hong.com	서울

In [83]:
with open('data/ch09.member2.json', 'r', encoding='utf8') as jsonfile:
    member_list = json.load(jsonfile, object_hook = as_member)

In [84]:
for member in member_list:
    print(member)

홍길동	20	hong@hong.com	서울
김길동	25	kim@hong.com	파주
윤길동	25	yun@hong.com	인천

In [85]:
type(member_list), type(member_list[0])

(list, __main__.Member)

# 5절. HDF5 파일 읽기 / 쓰기

## 5.1 h5py 사용

In [86]:
# iris 데이터.
import seaborn as sns
iris_df = sns.load_dataset("iris")
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [87]:
type(iris_df)

pandas.core.frame.DataFrame

In [88]:
iris_dic = iris_df.to_dict() #데이터프레임변수를 딕셔너리 변수로 
iris_dic

{'sepal_length': {0: 5.1,
  1: 4.9,
  2: 4.7,
  3: 4.6,
  4: 5.0,
  5: 5.4,
  6: 4.6,
  7: 5.0,
  8: 4.4,
  9: 4.9,
  10: 5.4,
  11: 4.8,
  12: 4.8,
  13: 4.3,
  14: 5.8,
  15: 5.7,
  16: 5.4,
  17: 5.1,
  18: 5.7,
  19: 5.1,
  20: 5.4,
  21: 5.1,
  22: 4.6,
  23: 5.1,
  24: 4.8,
  25: 5.0,
  26: 5.0,
  27: 5.2,
  28: 5.2,
  29: 4.7,
  30: 4.8,
  31: 5.4,
  32: 5.2,
  33: 5.5,
  34: 4.9,
  35: 5.0,
  36: 5.5,
  37: 4.9,
  38: 4.4,
  39: 5.1,
  40: 5.0,
  41: 4.5,
  42: 4.4,
  43: 5.0,
  44: 5.1,
  45: 4.8,
  46: 5.1,
  47: 4.6,
  48: 5.3,
  49: 5.0,
  50: 7.0,
  51: 6.4,
  52: 6.9,
  53: 5.5,
  54: 6.5,
  55: 5.7,
  56: 6.3,
  57: 4.9,
  58: 6.6,
  59: 5.2,
  60: 5.0,
  61: 5.9,
  62: 6.0,
  63: 6.1,
  64: 5.6,
  65: 6.7,
  66: 5.6,
  67: 5.8,
  68: 6.2,
  69: 5.6,
  70: 5.9,
  71: 6.1,
  72: 6.3,
  73: 6.1,
  74: 6.4,
  75: 6.6,
  76: 6.8,
  77: 6.7,
  78: 6.0,
  79: 5.7,
  80: 5.5,
  81: 5.5,
  82: 5.8,
  83: 6.0,
  84: 5.4,
  85: 6.0,
  86: 6.7,
  87: 6.3,
  88: 5.6,
  89: 5.5,
  90: 5.5,
  91: 6.1,
  92: 5.8,
  93: 5.0,
  94: 5.6,
  95: 5.7,
  96: 5.7,
  97: 6.2,
  98: 5.1,
  99: 5.7,
  100: 6.3,
  101: 5.8,
  102: 7.1,
  103: 6.3,
  104: 6.5,
  105: 7.6,
  106: 4.9,
  107: 7.3,
  108: 6.7,
  109: 7.2,
  110: 6.5,
  111: 6.4,
  112: 6.8,
  113: 5.7,
  114: 5.8,
  115: 6.4,
  116: 6.5,
  117: 7.7,
  118: 7.7,
  119: 6.0,
  120: 6.9,
  121: 5.6,
  122: 7.7,
  123: 6.3,
  124: 6.7,
  125: 7.2,
  126: 6.2,
  127: 6.1,
  128: 6.4,
  129: 7.2,
  130: 7.4,
  131: 7.9,
  132: 6.4,
  133: 6.3,
  134: 6.1,
  135: 7.7,
  136: 6.3,
  137: 6.4,
  138: 6.0,
  139: 6.9,
  140: 6.7,
  141: 6.9,
  142: 5.8,
  143: 6.8,
  144: 6.7,
  145: 6.7,
  146: 6.3,
  147: 6.5,
  148: 6.2,
  149: 5.9},
 'sepal_width': {0: 3.5,
  1: 3.0,
  2: 3.2,
  3: 3.1,
  4: 3.6,
  5: 3.9,
  6: 3.4,
  7: 3.4,
  8: 2.9,
  9: 3.1,
  10: 3.7,
  11: 3.4,
  12: 3.0,
  13: 3.0,
  14: 4.0,
  15: 4.4,
  16: 3.9,
  17: 3.5,
  18: 3.8,
  19: 3.8,
  20: 3.4,
  21: 3.7,
  22: 3.6,
  23: 3.3,
  24: 3.4,
  25: 3.0,
  26: 3.4,
  27: 3.5,
  28: 3.4,
  29: 3.2,
  30: 3.1,
  31: 3.4,
  32: 4.1,
  33: 4.2,
  34: 3.1,
  35: 3.2,
  36: 3.5,
  37: 3.6,
  38: 3.0,
  39: 3.4,
  40: 3.5,
  41: 2.3,
  42: 3.2,
  43: 3.5,
  44: 3.8,
  45: 3.0,
  46: 3.8,
  47: 3.2,
  48: 3.7,
  49: 3.3,
  50: 3.2,
  51: 3.2,
  52: 3.1,
  53: 2.3,
  54: 2.8,
  55: 2.8,
  56: 3.3,
  57: 2.4,
  58: 2.9,
  59: 2.7,
  60: 2.0,
  61: 3.0,
  62: 2.2,
  63: 2.9,
  64: 2.9,
  65: 3.1,
  66: 3.0,
  67: 2.7,
  68: 2.2,
  69: 2.5,
  70: 3.2,
  71: 2.8,
  72: 2.5,
  73: 2.8,
  74: 2.9,
  75: 3.0,
  76: 2.8,
  77: 3.0,
  78: 2.9,
  79: 2.6,
  80: 2.4,
  81: 2.4,
  82: 2.7,
  83: 2.7,
  84: 3.0,
  85: 3.4,
  86: 3.1,
  87: 2.3,
  88: 3.0,
  89: 2.5,
  90: 2.6,
  91: 3.0,
  92: 2.6,
  93: 2.3,
  94: 2.7,
  95: 3.0,
  96: 2.9,
  97: 2.9,
  98: 2.5,
  99: 2.8,
  100: 3.3,
  101: 2.7,
  102: 3.0,
  103: 2.9,
  104: 3.0,
  105: 3.0,
  106: 2.5,
  107: 2.9,
  108: 2.5,
  109: 3.6,
  110: 3.2,
  111: 2.7,
  112: 3.0,
  113: 2.5,
  114: 2.8,
  115: 3.2,
  116: 3.0,
  117: 3.8,
  118: 2.6,
  119: 2.2,
  120: 3.2,
  121: 2.8,
  122: 2.8,
  123: 2.7,
  124: 3.3,
  125: 3.2,
  126: 2.8,
  127: 3.0,
  128: 2.8,
  129: 3.0,
  130: 2.8,
  131: 3.8,
  132: 2.8,
  133: 2.8,
  134: 2.6,
  135: 3.0,
  136: 3.4,
  137: 3.1,
  138: 3.0,
  139: 3.1,
  140: 3.1,
  141: 3.1,
  142: 2.7,
  143: 3.2,
  144: 3.3,
  145: 3.0,
  146: 2.5,
  147: 3.0,
  148: 3.4,
  149: 3.0},
 'petal_length': {0: 1.4,
  1: 1.4,
  2: 1.3,
  3: 1.5,
  4: 1.4,
  5: 1.7,
  6: 1.4,
  7: 1.5,
  8: 1.4,
  9: 1.5,
  10: 1.5,
  11: 1.6,
  12: 1.4,
  13: 1.1,
  14: 1.2,
  15: 1.5,
  16: 1.3,
  17: 1.4,
  18: 1.7,
  19: 1.5,
  20: 1.7,
  21: 1.5,
  22: 1.0,
  23: 1.7,
  24: 1.9,
  25: 1.6,
  26: 1.6,
  27: 1.5,
  28: 1.4,
  29: 1.6,
  30: 1.6,
  31: 1.5,
  32: 1.5,
  33: 1.4,
  34: 1.5,
  35: 1.2,
  36: 1.3,
  37: 1.4,
  38: 1.3,
  39: 1.5,
  40: 1.3,
  41: 1.3,
  42: 1.3,
  43: 1.6,
  44: 1.9,
  45: 1.4,
  46: 1.6,
  47: 1.4,
  48: 1.5,
  49: 1.4,
  50: 4.7,
  51: 4.5,
  52: 4.9,
  53: 4.0,
  54: 4.6,
  55: 4.5,
  56: 4.7,
  57: 3.3,
  58: 4.6,
  59: 3.9,
  60: 3.5,
  61: 4.2,
  62: 4.0,
  63: 4.7,
  64: 3.6,
  65: 4.4,
  66: 4.5,
  67: 4.1,
  68: 4.5,
  69: 3.9,
  70: 4.8,
  71: 4.0,
  72: 4.9,
  73: 4.7,
  74: 4.3,
  75: 4.4,
  76: 4.8,
  77: 5.0,
  78: 4.5,
  79: 3.5,
  80: 3.8,
  81: 3.7,
  82: 3.9,
  83: 5.1,
  84: 4.5,
  85: 4.5,
  86: 4.7,
  87: 4.4,
  88: 4.1,
  89: 4.0,
  90: 4.4,
  91: 4.6,
  92: 4.0,
  93: 3.3,
  94: 4.2,
  95: 4.2,
  96: 4.2,
  97: 4.3,
  98: 3.0,
  99: 4.1,
  100: 6.0,
  101: 5.1,
  102: 5.9,
  103: 5.6,
  104: 5.8,
  105: 6.6,
  106: 4.5,
  107: 6.3,
  108: 5.8,
  109: 6.1,
  110: 5.1,
  111: 5.3,
  112: 5.5,
  113: 5.0,
  114: 5.1,
  115: 5.3,
  116: 5.5,
  117: 6.7,
  118: 6.9,
  119: 5.0,
  120: 5.7,
  121: 4.9,
  122: 6.7,
  123: 4.9,
  124: 5.7,
  125: 6.0,
  126: 4.8,
  127: 4.9,
  128: 5.6,
  129: 5.8,
  130: 6.1,
  131: 6.4,
  132: 5.6,
  133: 5.1,
  134: 5.6,
  135: 6.1,
  136: 5.6,
  137: 5.5,
  138: 4.8,
  139: 5.4,
  140: 5.6,
  141: 5.1,
  142: 5.1,
  143: 5.9,
  144: 5.7,
  145: 5.2,
  146: 5.0,
  147: 5.2,
  148: 5.4,
  149: 5.1},
 'petal_width': {0: 0.2,
  1: 0.2,
  2: 0.2,
  3: 0.2,
  4: 0.2,
  5: 0.4,
  6: 0.3,
  7: 0.2,
  8: 0.2,
  9: 0.1,
  10: 0.2,
  11: 0.2,
  12: 0.1,
  13: 0.1,
  14: 0.2,
  15: 0.4,
  16: 0.4,
  17: 0.3,
  18: 0.3,
  19: 0.3,
  20: 0.2,
  21: 0.4,
  22: 0.2,
  23: 0.5,
  24: 0.2,
  25: 0.2,
  26: 0.4,
  27: 0.2,
  28: 0.2,
  29: 0.2,
  30: 0.2,
  31: 0.4,
  32: 0.1,
  33: 0.2,
  34: 0.2,
  35: 0.2,
  36: 0.2,
  37: 0.1,
  38: 0.2,
  39: 0.2,
  40: 0.3,
  41: 0.3,
  42: 0.2,
  43: 0.6,
  44: 0.4,
  45: 0.3,
  46: 0.2,
  47: 0.2,
  48: 0.2,
  49: 0.2,
  50: 1.4,
  51: 1.5,
  52: 1.5,
  53: 1.3,
  54: 1.5,
  55: 1.3,
  56: 1.6,
  57: 1.0,
  58: 1.3,
  59: 1.4,
  60: 1.0,
  61: 1.5,
  62: 1.0,
  63: 1.4,
  64: 1.3,
  65: 1.4,
  66: 1.5,
  67: 1.0,
  68: 1.5,
  69: 1.1,
  70: 1.8,
  71: 1.3,
  72: 1.5,
  73: 1.2,
  74: 1.3,
  75: 1.4,
  76: 1.4,
  77: 1.7,
  78: 1.5,
  79: 1.0,
  80: 1.1,
  81: 1.0,
  82: 1.2,
  83: 1.6,
  84: 1.5,
  85: 1.6,
  86: 1.5,
  87: 1.3,
  88: 1.3,
  89: 1.3,
  90: 1.2,
  91: 1.4,
  92: 1.2,
  93: 1.0,
  94: 1.3,
  95: 1.2,
  96: 1.3,
  97: 1.3,
  98: 1.1,
  99: 1.3,
  100: 2.5,
  101: 1.9,
  102: 2.1,
  103: 1.8,
  104: 2.2,
  105: 2.1,
  106: 1.7,
  107: 1.8,
  108: 1.8,
  109: 2.5,
  110: 2.0,
  111: 1.9,
  112: 2.1,
  113: 2.0,
  114: 2.4,
  115: 2.3,
  116: 1.8,
  117: 2.2,
  118: 2.3,
  119: 1.5,
  120: 2.3,
  121: 2.0,
  122: 2.0,
  123: 1.8,
  124: 2.1,
  125: 1.8,
  126: 1.8,
  127: 1.8,
  128: 2.1,
  129: 1.6,
  130: 1.9,
  131: 2.0,
  132: 2.2,
  133: 1.5,
  134: 1.4,
  135: 2.3,
  136: 2.4,
  137: 1.8,
  138: 1.8,
  139: 2.1,
  140: 2.4,
  141: 2.3,
  142: 1.9,
  143: 2.3,
  144: 2.5,
  145: 2.3,
  146: 1.9,
  147: 2.0,
  148: 2.3,
  149: 1.8},
 'species': {0: 'setosa',
  1: 'setosa',
  2: 'setosa',
  3: 'setosa',
  4: 'setosa',
  5: 'setosa',
  6: 'setosa',
  7: 'setosa',
  8: 'setosa',
  9: 'setosa',
  10: 'setosa',
  11: 'setosa',
  12: 'setosa',
  13: 'setosa',
  14: 'setosa',
  15: 'setosa',
  16: 'setosa',
  17: 'setosa',
  18: 'setosa',
  19: 'setosa',
  20: 'setosa',
  21: 'setosa',
  22: 'setosa',
  23: 'setosa',
  24: 'setosa',
  25: 'setosa',
  26: 'setosa',
  27: 'setosa',
  28: 'setosa',
  29: 'setosa',
  30: 'setosa',
  31: 'setosa',
  32: 'setosa',
  33: 'setosa',
  34: 'setosa',
  35: 'setosa',
  36: 'setosa',
  37: 'setosa',
  38: 'setosa',
  39: 'setosa',
  40: 'setosa',
  41: 'setosa',
  42: 'setosa',
  43: 'setosa',
  44: 'setosa',
  45: 'setosa',
  46: 'setosa',
  47: 'setosa',
  48: 'setosa',
  49: 'setosa',
  50: 'versicolor',
  51: 'versicolor',
  52: 'versicolor',
  53: 'versicolor',
  54: 'versicolor',
  55: 'versicolor',
  56: 'versicolor',
  57: 'versicolor',
  58: 'versicolor',
  59: 'versicolor',
  60: 'versicolor',
  61: 'versicolor',
  62: 'versicolor',
  63: 'versicolor',
  64: 'versicolor',
  65: 'versicolor',
  66: 'versicolor',
  67: 'versicolor',
  68: 'versicolor',
  69: 'versicolor',
  70: 'versicolor',
  71: 'versicolor',
  72: 'versicolor',
  73: 'versicolor',
  74: 'versicolor',
  75: 'versicolor',
  76: 'versicolor',
  77: 'versicolor',
  78: 'versicolor',
  79: 'versicolor',
  80: 'versicolor',
  81: 'versicolor',
  82: 'versicolor',
  83: 'versicolor',
  84: 'versicolor',
  85: 'versicolor',
  86: 'versicolor',
  87: 'versicolor',
  88: 'versicolor',
  89: 'versicolor',
  90: 'versicolor',
  91: 'versicolor',
  92: 'versicolor',
  93: 'versicolor',
  94: 'versicolor',
  95: 'versicolor',
  96: 'versicolor',
  97: 'versicolor',
  98: 'versicolor',
  99: 'versicolor',
  100: 'virginica',
  101: 'virginica',
  102: 'virginica',
  103: 'virginica',
  104: 'virginica',
  105: 'virginica',
  106: 'virginica',
  107: 'virginica',
  108: 'virginica',
  109: 'virginica',
  110: 'virginica',
  111: 'virginica',
  112: 'virginica',
  113: 'virginica',
  114: 'virginica',
  115: 'virginica',
  116: 'virginica',
  117: 'virginica',
  118: 'virginica',
  119: 'virginica',
  120: 'virginica',
  121: 'virginica',
  122: 'virginica',
  123: 'virginica',
  124: 'virginica',
  125: 'virginica',
  126: 'virginica',
  127: 'virginica',
  128: 'virginica',
  129: 'virginica',
  130: 'virginica',
  131: 'virginica',
  132: 'virginica',
  133: 'virginica',
  134: 'virginica',
  135: 'virginica',
  136: 'virginica',
  137: 'virginica',
  138: 'virginica',
  139: 'virginica',
  140: 'virginica',
  141: 'virginica',
  142: 'virginica',
  143: 'virginica',
  144: 'virginica',
  145: 'virginica',
  146: 'virginica',
  147: 'virginica',
  148: 'virginica',
  149: 'virginica'}}

In [93]:
iris_dic.keys()
# 아래와 비슷한 결과.

dict_keys(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])

In [89]:
for data in iris_dic:
    print(data)

sepal_length
sepal_width
petal_length
petal_width
species

In [92]:
for group, value in iris_dic.items():
    print(group, value)
    print('\n')

sepal_length {0: 5.1, 1: 4.9, 2: 4.7, 3: 4.6, 4: 5.0, 5: 5.4, 6: 4.6, 7: 5.0, 8: 4.4, 9: 4.9, 10: 5.4, 11: 4.8, 12: 4.8, 13: 4.3, 14: 5.8, 15: 5.7, 16: 5.4, 17: 5.1, 18: 5.7, 19: 5.1, 20: 5.4, 21: 5.1, 22: 4.6, 23: 5.1, 24: 4.8, 25: 5.0, 26: 5.0, 27: 5.2, 28: 5.2, 29: 4.7, 30: 4.8, 31: 5.4, 32: 5.2, 33: 5.5, 34: 4.9, 35: 5.0, 36: 5.5, 37: 4.9, 38: 4.4, 39: 5.1, 40: 5.0, 41: 4.5, 42: 4.4, 43: 5.0, 44: 5.1, 45: 4.8, 46: 5.1, 47: 4.6, 48: 5.3, 49: 5.0, 50: 7.0, 51: 6.4, 52: 6.9, 53: 5.5, 54: 6.5, 55: 5.7, 56: 6.3, 57: 4.9, 58: 6.6, 59: 5.2, 60: 5.0, 61: 5.9, 62: 6.0, 63: 6.1, 64: 5.6, 65: 6.7, 66: 5.6, 67: 5.8, 68: 6.2, 69: 5.6, 70: 5.9, 71: 6.1, 72: 6.3, 73: 6.1, 74: 6.4, 75: 6.6, 76: 6.8, 77: 6.7, 78: 6.0, 79: 5.7, 80: 5.5, 81: 5.5, 82: 5.8, 83: 6.0, 84: 5.4, 85: 6.0, 86: 6.7, 87: 6.3, 88: 5.6, 89: 5.5, 90: 5.5, 91: 6.1, 92: 5.8, 93: 5.0, 94: 5.6, 95: 5.7, 96: 5.7, 97: 6.2, 98: 5.1, 99: 5.7, 100: 6.3, 101: 5.8, 102: 7.1, 103: 6.3, 104: 6.5, 105: 7.6, 106: 4.9, 107: 7.3, 108: 6.7, 109: 7.2, 110: 6.5, 111: 6.4, 112: 6.8, 113: 5.7, 114: 5.8, 115: 6.4, 116: 6.5, 117: 7.7, 118: 7.7, 119: 6.0, 120: 6.9, 121: 5.6, 122: 7.7, 123: 6.3, 124: 6.7, 125: 7.2, 126: 6.2, 127: 6.1, 128: 6.4, 129: 7.2, 130: 7.4, 131: 7.9, 132: 6.4, 133: 6.3, 134: 6.1, 135: 7.7, 136: 6.3, 137: 6.4, 138: 6.0, 139: 6.9, 140: 6.7, 141: 6.9, 142: 5.8, 143: 6.8, 144: 6.7, 145: 6.7, 146: 6.3, 147: 6.5, 148: 6.2, 149: 5.9}


sepal_width {0: 3.5, 1: 3.0, 2: 3.2, 3: 3.1, 4: 3.6, 5: 3.9, 6: 3.4, 7: 3.4, 8: 2.9, 9: 3.1, 10: 3.7, 11: 3.4, 12: 3.0, 13: 3.0, 14: 4.0, 15: 4.4, 16: 3.9, 17: 3.5, 18: 3.8, 19: 3.8, 20: 3.4, 21: 3.7, 22: 3.6, 23: 3.3, 24: 3.4, 25: 3.0, 26: 3.4, 27: 3.5, 28: 3.4, 29: 3.2, 30: 3.1, 31: 3.4, 32: 4.1, 33: 4.2, 34: 3.1, 35: 3.2, 36: 3.5, 37: 3.6, 38: 3.0, 39: 3.4, 40: 3.5, 41: 2.3, 42: 3.2, 43: 3.5, 44: 3.8, 45: 3.0, 46: 3.8, 47: 3.2, 48: 3.7, 49: 3.3, 50: 3.2, 51: 3.2, 52: 3.1, 53: 2.3, 54: 2.8, 55: 2.8, 56: 3.3, 57: 2.4, 58: 2.9, 59: 2.7, 60: 2.0, 61: 3.0, 62: 2.2, 63: 2.9, 64: 2.9, 65: 3.1, 66: 3.0, 67: 2.7, 68: 2.2, 69: 2.5, 70: 3.2, 71: 2.8, 72: 2.5, 73: 2.8, 74: 2.9, 75: 3.0, 76: 2.8, 77: 3.0, 78: 2.9, 79: 2.6, 80: 2.4, 81: 2.4, 82: 2.7, 83: 2.7, 84: 3.0, 85: 3.4, 86: 3.1, 87: 2.3, 88: 3.0, 89: 2.5, 90: 2.6, 91: 3.0, 92: 2.6, 93: 2.3, 94: 2.7, 95: 3.0, 96: 2.9, 97: 2.9, 98: 2.5, 99: 2.8, 100: 3.3, 101: 2.7, 102: 3.0, 103: 2.9, 104: 3.0, 105: 3.0, 106: 2.5, 107: 2.9, 108: 2.5, 109: 3.6, 110: 3.2, 111: 2.7, 112: 3.0, 113: 2.5, 114: 2.8, 115: 3.2, 116: 3.0, 117: 3.8, 118: 2.6, 119: 2.2, 120: 3.2, 121: 2.8, 122: 2.8, 123: 2.7, 124: 3.3, 125: 3.2, 126: 2.8, 127: 3.0, 128: 2.8, 129: 3.0, 130: 2.8, 131: 3.8, 132: 2.8, 133: 2.8, 134: 2.6, 135: 3.0, 136: 3.4, 137: 3.1, 138: 3.0, 139: 3.1, 140: 3.1, 141: 3.1, 142: 2.7, 143: 3.2, 144: 3.3, 145: 3.0, 146: 2.5, 147: 3.0, 148: 3.4, 149: 3.0}


petal_length {0: 1.4, 1: 1.4, 2: 1.3, 3: 1.5, 4: 1.4, 5: 1.7, 6: 1.4, 7: 1.5, 8: 1.4, 9: 1.5, 10: 1.5, 11: 1.6, 12: 1.4, 13: 1.1, 14: 1.2, 15: 1.5, 16: 1.3, 17: 1.4, 18: 1.7, 19: 1.5, 20: 1.7, 21: 1.5, 22: 1.0, 23: 1.7, 24: 1.9, 25: 1.6, 26: 1.6, 27: 1.5, 28: 1.4, 29: 1.6, 30: 1.6, 31: 1.5, 32: 1.5, 33: 1.4, 34: 1.5, 35: 1.2, 36: 1.3, 37: 1.4, 38: 1.3, 39: 1.5, 40: 1.3, 41: 1.3, 42: 1.3, 43: 1.6, 44: 1.9, 45: 1.4, 46: 1.6, 47: 1.4, 48: 1.5, 49: 1.4, 50: 4.7, 51: 4.5, 52: 4.9, 53: 4.0, 54: 4.6, 55: 4.5, 56: 4.7, 57: 3.3, 58: 4.6, 59: 3.9, 60: 3.5, 61: 4.2, 62: 4.0, 63: 4.7, 64: 3.6, 65: 4.4, 66: 4.5, 67: 4.1, 68: 4.5, 69: 3.9, 70: 4.8, 71: 4.0, 72: 4.9, 73: 4.7, 74: 4.3, 75: 4.4, 76: 4.8, 77: 5.0, 78: 4.5, 79: 3.5, 80: 3.8, 81: 3.7, 82: 3.9, 83: 5.1, 84: 4.5, 85: 4.5, 86: 4.7, 87: 4.4, 88: 4.1, 89: 4.0, 90: 4.4, 91: 4.6, 92: 4.0, 93: 3.3, 94: 4.2, 95: 4.2, 96: 4.2, 97: 4.3, 98: 3.0, 99: 4.1, 100: 6.0, 101: 5.1, 102: 5.9, 103: 5.6, 104: 5.8, 105: 6.6, 106: 4.5, 107: 6.3, 108: 5.8, 109: 6.1, 110: 5.1, 111: 5.3, 112: 5.5, 113: 5.0, 114: 5.1, 115: 5.3, 116: 5.5, 117: 6.7, 118: 6.9, 119: 5.0, 120: 5.7, 121: 4.9, 122: 6.7, 123: 4.9, 124: 5.7, 125: 6.0, 126: 4.8, 127: 4.9, 128: 5.6, 129: 5.8, 130: 6.1, 131: 6.4, 132: 5.6, 133: 5.1, 134: 5.6, 135: 6.1, 136: 5.6, 137: 5.5, 138: 4.8, 139: 5.4, 140: 5.6, 141: 5.1, 142: 5.1, 143: 5.9, 144: 5.7, 145: 5.2, 146: 5.0, 147: 5.2, 148: 5.4, 149: 5.1}


petal_width {0: 0.2, 1: 0.2, 2: 0.2, 3: 0.2, 4: 0.2, 5: 0.4, 6: 0.3, 7: 0.2, 8: 0.2, 9: 0.1, 10: 0.2, 11: 0.2, 12: 0.1, 13: 0.1, 14: 0.2, 15: 0.4, 16: 0.4, 17: 0.3, 18: 0.3, 19: 0.3, 20: 0.2, 21: 0.4, 22: 0.2, 23: 0.5, 24: 0.2, 25: 0.2, 26: 0.4, 27: 0.2, 28: 0.2, 29: 0.2, 30: 0.2, 31: 0.4, 32: 0.1, 33: 0.2, 34: 0.2, 35: 0.2, 36: 0.2, 37: 0.1, 38: 0.2, 39: 0.2, 40: 0.3, 41: 0.3, 42: 0.2, 43: 0.6, 44: 0.4, 45: 0.3, 46: 0.2, 47: 0.2, 48: 0.2, 49: 0.2, 50: 1.4, 51: 1.5, 52: 1.5, 53: 1.3, 54: 1.5, 55: 1.3, 56: 1.6, 57: 1.0, 58: 1.3, 59: 1.4, 60: 1.0, 61: 1.5, 62: 1.0, 63: 1.4, 64: 1.3, 65: 1.4, 66: 1.5, 67: 1.0, 68: 1.5, 69: 1.1, 70: 1.8, 71: 1.3, 72: 1.5, 73: 1.2, 74: 1.3, 75: 1.4, 76: 1.4, 77: 1.7, 78: 1.5, 79: 1.0, 80: 1.1, 81: 1.0, 82: 1.2, 83: 1.6, 84: 1.5, 85: 1.6, 86: 1.5, 87: 1.3, 88: 1.3, 89: 1.3, 90: 1.2, 91: 1.4, 92: 1.2, 93: 1.0, 94: 1.3, 95: 1.2, 96: 1.3, 97: 1.3, 98: 1.1, 99: 1.3, 100: 2.5, 101: 1.9, 102: 2.1, 103: 1.8, 104: 2.2, 105: 2.1, 106: 1.7, 107: 1.8, 108: 1.8, 109: 2.5, 110: 2.0, 111: 1.9, 112: 2.1, 113: 2.0, 114: 2.4, 115: 2.3, 116: 1.8, 117: 2.2, 118: 2.3, 119: 1.5, 120: 2.3, 121: 2.0, 122: 2.0, 123: 1.8, 124: 2.1, 125: 1.8, 126: 1.8, 127: 1.8, 128: 2.1, 129: 1.6, 130: 1.9, 131: 2.0, 132: 2.2, 133: 1.5, 134: 1.4, 135: 2.3, 136: 2.4, 137: 1.8, 138: 1.8, 139: 2.1, 140: 2.4, 141: 2.3, 142: 1.9, 143: 2.3, 144: 2.5, 145: 2.3, 146: 1.9, 147: 2.0, 148: 2.3, 149: 1.8}


species {0: 'setosa', 1: 'setosa', 2: 'setosa', 3: 'setosa', 4: 'setosa', 5: 'setosa', 6: 'setosa', 7: 'setosa', 8: 'setosa', 9: 'setosa', 10: 'setosa', 11: 'setosa', 12: 'setosa', 13: 'setosa', 14: 'setosa', 15: 'setosa', 16: 'setosa', 17: 'setosa', 18: 'setosa', 19: 'setosa', 20: 'setosa', 21: 'setosa', 22: 'setosa', 23: 'setosa', 24: 'setosa', 25: 'setosa', 26: 'setosa', 27: 'setosa', 28: 'setosa', 29: 'setosa', 30: 'setosa', 31: 'setosa', 32: 'setosa', 33: 'setosa', 34: 'setosa', 35: 'setosa', 36: 'setosa', 37: 'setosa', 38: 'setosa', 39: 'setosa', 40: 'setosa', 41: 'setosa', 42: 'setosa', 43: 'setosa', 44: 'setosa', 45: 'setosa', 46: 'setosa', 47: 'setosa', 48: 'setosa', 49: 'setosa', 50: 'versicolor', 51: 'versicolor', 52: 'versicolor', 53: 'versicolor', 54: 'versicolor', 55: 'versicolor', 56: 'versicolor', 57: 'versicolor', 58: 'versicolor', 59: 'versicolor', 60: 'versicolor', 61: 'versicolor', 62: 'versicolor', 63: 'versicolor', 64: 'versicolor', 65: 'versicolor', 66: 'versicolor', 67: 'versicolor', 68: 'versicolor', 69: 'versicolor', 70: 'versicolor', 71: 'versicolor', 72: 'versicolor', 73: 'versicolor', 74: 'versicolor', 75: 'versicolor', 76: 'versicolor', 77: 'versicolor', 78: 'versicolor', 79: 'versicolor', 80: 'versicolor', 81: 'versicolor', 82: 'versicolor', 83: 'versicolor', 84: 'versicolor', 85: 'versicolor', 86: 'versicolor', 87: 'versicolor', 88: 'versicolor', 89: 'versicolor', 90: 'versicolor', 91: 'versicolor', 92: 'versicolor', 93: 'versicolor', 94: 'versicolor', 95: 'versicolor', 96: 'versicolor', 97: 'versicolor', 98: 'versicolor', 99: 'versicolor', 100: 'virginica', 101: 'virginica', 102: 'virginica', 103: 'virginica', 104: 'virginica', 105: 'virginica', 106: 'virginica', 107: 'virginica', 108: 'virginica', 109: 'virginica', 110: 'virginica', 111: 'virginica', 112: 'virginica', 113: 'virginica', 114: 'virginica', 115: 'virginica', 116: 'virginica', 117: 'virginica', 118: 'virginica', 119: 'virginica', 120: 'virginica', 121: 'virginica', 122: 'virginica', 123: 'virginica', 124: 'virginica', 125: 'virginica', 126: 'virginica', 127: 'virginica', 128: 'virginica', 129: 'virginica', 130: 'virginica', 131: 'virginica', 132: 'virginica', 133: 'virginica', 134: 'virginica', 135: 'virginica', 136: 'virginica', 137: 'virginica', 138: 'virginica', 139: 'virginica', 140: 'virginica', 141: 'virginica', 142: 'virginica', 143: 'virginica', 144: 'virginica', 145: 'virginica', 146: 'virginica', 147: 'virginica', 148: 'virginica', 149: 'virginica'}

In [94]:
for group, value in iris_dic.items():
    print('변수는 ',group)
    for key, data in value.items():
        print("{}:{}".format(key,data), end='\t')
    print('\n')

변수는  sepal_length
0:5.1	1:4.9	2:4.7	3:4.6	4:5.0	5:5.4	6:4.6	7:5.0	8:4.4	9:4.9	10:5.4	11:4.8	12:4.8	13:4.3	14:5.8	15:5.7	16:5.4	17:5.1	18:5.7	19:5.1	20:5.4	21:5.1	22:4.6	23:5.1	24:4.8	25:5.0	26:5.0	27:5.2	28:5.2	29:4.7	30:4.8	31:5.4	32:5.2	33:5.5	34:4.9	35:5.0	36:5.5	37:4.9	38:4.4	39:5.1	40:5.0	41:4.5	42:4.4	43:5.0	44:5.1	45:4.8	46:5.1	47:4.6	48:5.3	49:5.0	50:7.0	51:6.4	52:6.9	53:5.5	54:6.5	55:5.7	56:6.3	57:4.9	58:6.6	59:5.2	60:5.0	61:5.9	62:6.0	63:6.1	64:5.6	65:6.7	66:5.6	67:5.8	68:6.2	69:5.6	70:5.9	71:6.1	72:6.3	73:6.1	74:6.4	75:6.6	76:6.8	77:6.7	78:6.0	79:5.7	80:5.5	81:5.5	82:5.8	83:6.0	84:5.4	85:6.0	86:6.7	87:6.3	88:5.6	89:5.5	90:5.5	91:6.1	92:5.8	93:5.0	94:5.6	95:5.7	96:5.7	97:6.2	98:5.1	99:5.7	100:6.3	101:5.8	102:7.1	103:6.3	104:6.5	105:7.6	106:4.9	107:7.3	108:6.7	109:7.2	110:6.5	111:6.4	112:6.8	113:5.7	114:5.8	115:6.4	116:6.5	117:7.7	118:7.7	119:6.0	120:6.9	121:5.6	122:7.7	123:6.3	124:6.7	125:7.2	126:6.2	127:6.1	128:6.4	129:7.2	130:7.4	131:7.9	132:6.4	133:6.3	134:6.1	135:7.7	136:6.3	137:6.4	138:6.0	139:6.9	140:6.7	141:6.9	142:5.8	143:6.8	144:6.7	145:6.7	146:6.3	147:6.5	148:6.2	149:5.9

변수는  sepal_width
0:3.5	1:3.0	2:3.2	3:3.1	4:3.6	5:3.9	6:3.4	7:3.4	8:2.9	9:3.1	10:3.7	11:3.4	12:3.0	13:3.0	14:4.0	15:4.4	16:3.9	17:3.5	18:3.8	19:3.8	20:3.4	21:3.7	22:3.6	23:3.3	24:3.4	25:3.0	26:3.4	27:3.5	28:3.4	29:3.2	30:3.1	31:3.4	32:4.1	33:4.2	34:3.1	35:3.2	36:3.5	37:3.6	38:3.0	39:3.4	40:3.5	41:2.3	42:3.2	43:3.5	44:3.8	45:3.0	46:3.8	47:3.2	48:3.7	49:3.3	50:3.2	51:3.2	52:3.1	53:2.3	54:2.8	55:2.8	56:3.3	57:2.4	58:2.9	59:2.7	60:2.0	61:3.0	62:2.2	63:2.9	64:2.9	65:3.1	66:3.0	67:2.7	68:2.2	69:2.5	70:3.2	71:2.8	72:2.5	73:2.8	74:2.9	75:3.0	76:2.8	77:3.0	78:2.9	79:2.6	80:2.4	81:2.4	82:2.7	83:2.7	84:3.0	85:3.4	86:3.1	87:2.3	88:3.0	89:2.5	90:2.6	91:3.0	92:2.6	93:2.3	94:2.7	95:3.0	96:2.9	97:2.9	98:2.5	99:2.8	100:3.3	101:2.7	102:3.0	103:2.9	104:3.0	105:3.0	106:2.5	107:2.9	108:2.5	109:3.6	110:3.2	111:2.7	112:3.0	113:2.5	114:2.8	115:3.2	116:3.0	117:3.8	118:2.6	119:2.2	120:3.2	121:2.8	122:2.8	123:2.7	124:3.3	125:3.2	126:2.8	127:3.0	128:2.8	129:3.0	130:2.8	131:3.8	132:2.8	133:2.8	134:2.6	135:3.0	136:3.4	137:3.1	138:3.0	139:3.1	140:3.1	141:3.1	142:2.7	143:3.2	144:3.3	145:3.0	146:2.5	147:3.0	148:3.4	149:3.0

변수는  petal_length
0:1.4	1:1.4	2:1.3	3:1.5	4:1.4	5:1.7	6:1.4	7:1.5	8:1.4	9:1.5	10:1.5	11:1.6	12:1.4	13:1.1	14:1.2	15:1.5	16:1.3	17:1.4	18:1.7	19:1.5	20:1.7	21:1.5	22:1.0	23:1.7	24:1.9	25:1.6	26:1.6	27:1.5	28:1.4	29:1.6	30:1.6	31:1.5	32:1.5	33:1.4	34:1.5	35:1.2	36:1.3	37:1.4	38:1.3	39:1.5	40:1.3	41:1.3	42:1.3	43:1.6	44:1.9	45:1.4	46:1.6	47:1.4	48:1.5	49:1.4	50:4.7	51:4.5	52:4.9	53:4.0	54:4.6	55:4.5	56:4.7	57:3.3	58:4.6	59:3.9	60:3.5	61:4.2	62:4.0	63:4.7	64:3.6	65:4.4	66:4.5	67:4.1	68:4.5	69:3.9	70:4.8	71:4.0	72:4.9	73:4.7	74:4.3	75:4.4	76:4.8	77:5.0	78:4.5	79:3.5	80:3.8	81:3.7	82:3.9	83:5.1	84:4.5	85:4.5	86:4.7	87:4.4	88:4.1	89:4.0	90:4.4	91:4.6	92:4.0	93:3.3	94:4.2	95:4.2	96:4.2	97:4.3	98:3.0	99:4.1	100:6.0	101:5.1	102:5.9	103:5.6	104:5.8	105:6.6	106:4.5	107:6.3	108:5.8	109:6.1	110:5.1	111:5.3	112:5.5	113:5.0	114:5.1	115:5.3	116:5.5	117:6.7	118:6.9	119:5.0	120:5.7	121:4.9	122:6.7	123:4.9	124:5.7	125:6.0	126:4.8	127:4.9	128:5.6	129:5.8	130:6.1	131:6.4	132:5.6	133:5.1	134:5.6	135:6.1	136:5.6	137:5.5	138:4.8	139:5.4	140:5.6	141:5.1	142:5.1	143:5.9	144:5.7	145:5.2	146:5.0	147:5.2	148:5.4	149:5.1

변수는  petal_width
0:0.2	1:0.2	2:0.2	3:0.2	4:0.2	5:0.4	6:0.3	7:0.2	8:0.2	9:0.1	10:0.2	11:0.2	12:0.1	13:0.1	14:0.2	15:0.4	16:0.4	17:0.3	18:0.3	19:0.3	20:0.2	21:0.4	22:0.2	23:0.5	24:0.2	25:0.2	26:0.4	27:0.2	28:0.2	29:0.2	30:0.2	31:0.4	32:0.1	33:0.2	34:0.2	35:0.2	36:0.2	37:0.1	38:0.2	39:0.2	40:0.3	41:0.3	42:0.2	43:0.6	44:0.4	45:0.3	46:0.2	47:0.2	48:0.2	49:0.2	50:1.4	51:1.5	52:1.5	53:1.3	54:1.5	55:1.3	56:1.6	57:1.0	58:1.3	59:1.4	60:1.0	61:1.5	62:1.0	63:1.4	64:1.3	65:1.4	66:1.5	67:1.0	68:1.5	69:1.1	70:1.8	71:1.3	72:1.5	73:1.2	74:1.3	75:1.4	76:1.4	77:1.7	78:1.5	79:1.0	80:1.1	81:1.0	82:1.2	83:1.6	84:1.5	85:1.6	86:1.5	87:1.3	88:1.3	89:1.3	90:1.2	91:1.4	92:1.2	93:1.0	94:1.3	95:1.2	96:1.3	97:1.3	98:1.1	99:1.3	100:2.5	101:1.9	102:2.1	103:1.8	104:2.2	105:2.1	106:1.7	107:1.8	108:1.8	109:2.5	110:2.0	111:1.9	112:2.1	113:2.0	114:2.4	115:2.3	116:1.8	117:2.2	118:2.3	119:1.5	120:2.3	121:2.0	122:2.0	123:1.8	124:2.1	125:1.8	126:1.8	127:1.8	128:2.1	129:1.6	130:1.9	131:2.0	132:2.2	133:1.5	134:1.4	135:2.3	136:2.4	137:1.8	138:1.8	139:2.1	140:2.4	141:2.3	142:1.9	143:2.3	144:2.5	145:2.3	146:1.9	147:2.0	148:2.3	149:1.8

변수는  species
0:setosa	1:setosa	2:setosa	3:setosa	4:setosa	5:setosa	6:setosa	7:setosa	8:setosa	9:setosa	10:setosa	11:setosa	12:setosa	13:setosa	14:setosa	15:setosa	16:setosa	17:setosa	18:setosa	19:setosa	20:setosa	21:setosa	22:setosa	23:setosa	24:setosa	25:setosa	26:setosa	27:setosa	28:setosa	29:setosa	30:setosa	31:setosa	32:setosa	33:setosa	34:setosa	35:setosa	36:setosa	37:setosa	38:setosa	39:setosa	40:setosa	41:setosa	42:setosa	43:setosa	44:setosa	45:setosa	46:setosa	47:setosa	48:setosa	49:setosa	50:versicolor	51:versicolor	52:versicolor	53:versicolor	54:versicolor	55:versicolor	56:versicolor	57:versicolor	58:versicolor	59:versicolor	60:versicolor	61:versicolor	62:versicolor	63:versicolor	64:versicolor	65:versicolor	66:versicolor	67:versicolor	68:versicolor	69:versicolor	70:versicolor	71:versicolor	72:versicolor	73:versicolor	74:versicolor	75:versicolor	76:versicolor	77:versicolor	78:versicolor	79:versicolor	80:versicolor	81:versicolor	82:versicolor	83:versicolor	84:versicolor	85:versicolor	86:versicolor	87:versicolor	88:versicolor	89:versicolor	90:versicolor	91:versicolor	92:versicolor	93:versicolor	94:versicolor	95:versicolor	96:versicolor	97:versicolor	98:versicolor	99:versicolor	100:virginica	101:virginica	102:virginica	103:virginica	104:virginica	105:virginica	106:virginica	107:virginica	108:virginica	109:virginica	110:virginica	111:virginica	112:virginica	113:virginica	114:virginica	115:virginica	116:virginica	117:virginica	118:virginica	119:virginica	120:virginica	121:virginica	122:virginica	123:virginica	124:virginica	125:virginica	126:virginica	127:virginica	128:virginica	129:virginica	130:virginica	131:virginica	132:virginica	133:virginica	134:virginica	135:virginica	136:virginica	137:virginica	138:virginica	139:virginica	140:virginica	141:virginica	142:virginica	143:virginica	144:virginica	145:virginica	146:virginica	147:virginica	148:virginica	149:virginica

In [95]:
# iris_dic을 hdf5 파일로 쓰기.
import h5py
with h5py.File('data/ch09.iris.hdf5', 'w') as f:
    for group, value in iris_dic.items():
        grp = f.create_group(group)
        for key, data in value.items():
            grp.create_dataset(str(key), data=data)

In [98]:
# iris_df 를 hdf5 파일로 쓰기.
#type(iris_df) => pandas.core.frame.DataFrame
iris_df.to_hdf('data/ch09.iris2.hdf5', key="iris")

## 5.2 pandas 라이브러리를 통해 hdf5 파일 읽어오기

In [101]:
import pandas as pd
iris_df2 = pd.read_hdf('data/ch09.iris2.hdf5', key='iris')
iris_df2
#print(iris_df2)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# 6절. 연습문제, 고객관리 애플리케이션
- 밑에 깃보고 다 갈아엎어야함.

In [31]:
# 필요한 클래스나 함수들 정의.
class Customer:
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc
    def as_dict(self): #csv파일 저장시 필요.
        return {"name":self.name,"phone":self.phone,"email":self.email,"age":self.age,
                "grade":self.grade, "etc":self.etc}
    def to_list_style(self): #txt 파일 저장시 필요.
        temp = [self.name, self.phone, self.email, str(self.age),str(self.grade),
                self.etc,'\n']
        return ' '.join(temp)
    def __str__(self):
        return "{:>5}\t{:3}\t{:15}\t{:15}\t{:3}\t{}".format('*'*self.grade,self.name,
                                                   self.phone,self.email,self.age,
                                                   self.etc)

In [3]:
# txt 파일 내용 : 홍길동 010-9999-9999 h@hong.com 20 5 열심히
# txt 파일의 내용을 Customer 객체로 반환.
# row는 txt파일 한 줄 읽은 내용 : 홍길동 010-9999-9999 h@hong.com 20 5 열심히
def to_customer(row):
    data = row.strip().split(' ')
    name = data[0]
    phone = data[1]
    email = data[2]
    age = int(data[3])
    grade = int(data[4])
    ect = data[5]
    return Customer(name,phone,email,age,grade,ect)

In [4]:
# 0. 실행하면서 customers 파일의 내용 load
# utf8 로 한 이유는 쥬피터 노트북에서 바로 볼 수 있게 하려고.
def load_customers():
    customer_list = []
    try:
        with open('data/ch09.customers.txt', 'r', encoding='utf8') as f:
            lines = f.readlines()
            for row in lines:
                customer = to_customer(row)
                customer_list.append(customer)
            print('데이터가 로드 되었습니다.')
    except FileNotFoundError:
        print("데이터 파일이 없어서 초기화 후 새로 생성합니다.")
        f = open('data/ch09.customers.txt', 'w', encoding='utf8')
        f.write('')
        f.close()
    return customer_list

In [5]:
for cust in load_customers():
    print(cust)

데이터가 로드 되었습니다.

In [6]:
# 1. 입력
def insert_customer_info():
    name = input("이름 : ")
    phone = input("전화번호 : ")
    email = input("이메일 : ")
    try:
        age = int(input("나이 : "))
    except ValueError as e:
        print("유효하지 않는 나이 입력시 나이는 0으로 초기화.")
        age = 0
    try:
        grade = int(input("고객 등급(1~5) : "))
        if grade < 1:
            grade = 1
        if grade > 5 :
            grade = 5
    except ValueError as e:
        print("유효하지 않는 등급을 입력시 등급은 1로 초기화.")
        grade = 1
    etc = input("기타 정보 : ")
    customer = Customer(name, phone, email, age, grade, etc)
    return customer

In [15]:
# 2. 전체 출력
def print_customers(customer_list):
    print('='*70)
    print("{:^70}".format("고객 정보"))
    print('-'*70)
    print("{}\t{}\t{}\t\t{}\t{}\t{}".format("등급","이름","전화번호","메일","나이","기타"))
    print('='*70)
    for customer in customer_list:
        print(customer)
    print('='*70)

In [21]:
# 3. 삭제
def delete_customers(customer_list):
    name = input("삭제할 이름은?")
    delete_flag = False
    delete_idx = []
    for i , customer in enumerate(customer_list):
        #삭제할 이름과 같은 데이터의 인덱스를 delete_idx에 추가(동명이인 고려.)
        if customer.name == name:
            delete_idx.append(i)
        #끝 idx부터 지워야 동명이인일 경우 제대로 작동.
    for i in range(len(delete_idx)-1, -1, -1):
        del customer_list[delete_idx[i]]
        delete_flag = True
    if delete_flag:
        print('\"{}\"님 을 삭제 했습니다.'.format(name))
    else:
        print('\"{}\"님이 데이터에 존재 하지 않습니다.'.format(name))

In [24]:
# 이름 찾기.(동명이인도 모두 검색)
def search_customers(customer_list):
    name = input('검색할 이름은? ')
    search_result = []
    for customer in customer_list:
        if customer.name == name:
            search_result.append(customer)
    if len(search_result) == 0:
        print('검색한 고객이 데이터에 존재하지 않습니다.')
    else:
        for customer in search_result:
            print(customer)

In [26]:
# 5. 내보내기(csv)
def save_customers_csv(customer_list):
    import csv
    fieldnames = ["name","phone","email","age","grade","etc"]
    customer_dict_list = []
    for customer in customer_list:
        customer_dict_list.append(customer.as_dict())
    filename = input("저장할 파일 이름은 ? ")
    try:
        with open("data/"+filename, 'w', newline='', encoding='UTF8') as f:
            dict_writer = csv.DictWriter(f, fieldnames = fieldnames)
            dict_writer.writeheader()
            dict_writer.writerows(customer_dict_list)
    except Exception as e:
        print('데이터 내보내기 예외 :', e)

In [27]:
# 5. 종료하기 전 txt 파일로 저장.
def save_customers_txt(customer_list):
    customer_text_list = []
    for customer in customer_list:
        customer_text_list.append(customer.to_list_style())
    try:
        with open("data/ch09.customers.txt","w", encoding="UTF8") as f:
            f.writelines(customer_text_list)
    except Exception as e:
        print('데이터 내보내기 예외 : ', e)

In [29]:
def main():
    global customer_list
    customer_list = load_customers() #파일에 있는 데이터를 customer_list 로.
    while True:
        print("1: 입력","2:전체출력","3:삭제","4:이름찾기","5:내보내기","9:종료",
              sep="|",end='')
        menu = int(input("메뉴선택 : "))
        if menu == 1:
            customer = insert_customer_info()
            customer_list.append(customer)
        elif menu == 2:
            print_customers(customer_list)
        elif menu == 3:
            delete_customers(customer_list)
        elif menu == 4:
            search_customers(customer_list)
        elif menu == 5:
            save_customers_csv(customer_list)
        elif menu == 9:
            save_customers_txt(customer_list)
            break

In [33]:
if __name__ == '__main__':
    main()

데이터가 로드 되었습니다.
1: 입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기|9:종료메뉴선택 : 1
이름 : 홍
전화번호 : 010
이메일 : hong
나이 : 26
고객 등급(1~5) : 3
기타 정보 : 홍
1: 입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기|9:종료메뉴선택 : 1
이름 : 홍
전화번호 : 010-9898-9898
이메일 : hong@naver.com
나이 : 28
고객 등급(1~5) : 5
기타 정보 : 홍홍
1: 입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기|9:종료메뉴선택 : 1
이름 : 우아
전화번호 : 010-4555-9000
이메일 : wow@naver.com
나이 : 16
고객 등급(1~5) : 3
기타 정보 : 우아
1: 입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기|9:종료메뉴선택 : 2
======================================================================
                                고객 정보
----------------------------------------------------------------------
등급	이름	전화번호		메일	나이	기타
======================================================================
  ***	홍  	010            	hong           	 26	홍
*****	홍  	010-9898-9898  	hong@naver.com 	 28	홍홍
  ***	우아 	010-4555-9000  	wow@naver.com  	 16	우아
======================================================================
1: 입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기|9:종료메뉴선택 : 3
삭제할 이름은?홍
"홍"님 을 삭제 했습니다.
1: 입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기|9:종료메뉴선택 : 2
======================================================================
                                고객 정보
----------------------------------------------------------------------
등급	이름	전화번호		메일	나이	기타
======================================================================
  ***	우아 	010-4555-9000  	wow@naver.com  	 16	우아
======================================================================
1: 입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기|9:종료메뉴선택 : 4
검색할 이름은? 우아
  ***	우아 	010-4555-9000  	wow@naver.com  	 16	우아
1: 입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기|9:종료메뉴선택 : 4
검색할 이름은? 홍
검색한 고객이 데이터에 존재하지 않습니다.
1: 입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기|9:종료메뉴선택 : 5
저장할 파일 이름은 ? ch09.customer.csv
1: 입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기|9:종료메뉴선택 : 9

In [ ]:
#연습문제 서술형 
# 1. (3)
# 2. (4)
# 3. (1)

## pandas 패키지를 이용한 csv파일 read

In [1]:
%ls data

 E 드라이브의 볼륨: 학생방
 볼륨 일련 번호: 0282-0516

 E:\WDS\BigDataUI\data\src\08.Python\data 디렉터리

2021-03-02  오후 02:45    <DIR>          .
2021-03-02  오후 02:45    <DIR>          ..
2021-02-26  오후 03:03    <DIR>          .ipynb_checkpoints
2021-02-26  오후 03:02                44 ch08.abc.txt
2021-03-02  오후 01:20           292,544 ch09.iris.hdf5
2021-03-02  오후 02:45         1,069,192 ch09.iris2.hdf5
2021-02-26  오후 06:19               230 ch09.member.data
2021-02-26  오후 06:12               112 ch09.member.txt
2021-03-02  오전 10:08               162 ch09.member1.csv
2021-03-02  오후 12:15               192 ch09.member1.json
2021-03-02  오전 11:05                92 ch09.member1-1.csv
2021-03-02  오전 10:16                68 ch09.member2.csv
2021-03-02  오후 12:36               279 ch09.member2.json
2021-03-02  오전 10:22                70 ch09.member2-1.csv
2021-03-02  오전 11:21               136 ch09.member3.csv
2021-03-02  오전 11:49               126 ch09.member4.csv
2021-03-02  오전 11:57               126 ch09.member5.csv
2021-02-26  오후 05:47               373 ch09.sample.txt
              15개 파일           1,363,746 바이트
               3개 디렉터리  410,938,224,640 바이트 남음

In [2]:
# ch09.member1.csv (utf8)
# ch09.member1-1.csv (cp949)

In [7]:
import pandas as pd
members = pd.read_csv('data/ch09.member1.csv', encoding='utf8') #utf8 생략 가능.
members

   홍길동  20 kildong@hong.com  서울시강동구
0  윤길동  30  yunkil@hong.com  서울시강서구
1  홍길가  25  hongka@hong.com  서울시마포구

In [8]:
members1 = pd.read_csv('data/ch09.member1-1.csv', encoding='CP949') #cp949는 생략 못함.
members1

   마길동  20   ma@hong.com  광주 Unnamed: 4
0  석길동  25  suk@hong.com  인천         팀장
1  유길동  30   yu@hong.com  부산        NaN

In [10]:
type(members), type(members1) # 둘다 데이터프레임 타입인걸 볼 수 있다.

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

[[판다스](https://pandas.pydata.org/)]
- API reference, User Guide 참조
- 판다스 를 클릭하면 도움을 받을수 있는 사이트로 갈 수 있다.